#### This code will take the recipes.csv file as input and find out the ingredients usage amount in descending order.
### It'll output the result as ingredients_v1.csvfile

In [198]:
import numpy as np
import pandas as pd

In [199]:
df=pd.read_csv('/Users/osman/Desktop/22-23 ualbany/ML/project/data/recipes.csv')  
df=df.groupby('recipe')['ingredient'].agg(list).reset_index(name='ingredient')

In [200]:
#ing = all ingredients used in recipes one by one. Ingredients are not unique in this variable. As you can see we have 655913 rows
ing=df.explode('ingredient')
ing

                                  recipe        ingredient
0                 1-2-3-cherry-poke-cake              cake
0                 1-2-3-cherry-poke-cake             water
0                 1-2-3-cherry-poke-cake   Whipped Topping
0                 1-2-3-cherry-poke-cake           Gelatin
0                 1-2-3-cherry-poke-cake         Chocolate
...                                  ...               ...
77038  zydeco-stomp-cajun-shrimp-alfredo   Parmesan cheese
77038  zydeco-stomp-cajun-shrimp-alfredo            shrimp
77038  zydeco-stomp-cajun-shrimp-alfredo            garlic
77038  zydeco-stomp-cajun-shrimp-alfredo           parsley
77038  zydeco-stomp-cajun-shrimp-alfredo  fettuccine pasta

[655913 rows x 2 columns]

In [148]:
ing['ingredient'].nunique() #we have 6842 unique ingredient(string)

6842

In [158]:
#we will have two list with alligned indexes. 
#the list called 'unique' will have unique ingredients names.
#the list called 'num' will have the number of the corresponding ingredients used in the recipes.
#this part of code will take around 2 mins to compile

unique=[] 
num=[0]*6842   #the number of unique ingredient. Initial amount will be zero for all of them

for i in range(655913): #
    if ing.iloc[i][1] in unique:
        num[unique.index(ing.iloc[i][1])] +=1
    else:
        unique.append(ing.iloc[i][1])
        num[unique.index(ing.iloc[i][1])] +=1
        

len(unique)

6842

In [197]:
#Now we create a dataframe called dfzip and sort all the ingredients in descending order
dfzip=pd.DataFrame(list(zip(unique,num)),columns=['Ingredient','Number of Usage'])
dfzip=dfzip.sort_values('Number of Usage', ascending=False).reset_index(drop=True)
dfzip

              Ingredient  Number of Usage
0                   salt            31117
1                  onion            23295
2                    egg            21585
3                 garlic            21343
4                 butter            20551
...                  ...              ...
6837  gianduja chocolate                1
6838    decorating sugar                1
6839    plantain bananas                1
6840       ginger rounds                1
6841           Mexican 4                1

[6842 rows x 2 columns]

In [201]:
dfzip.to_csv('ingredients_v1.csv',index=True)